# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Logs
*.log

# Cache
.cache/
*.cache

# Unit test / coverage
.pytest_cache/
.coverage
.coverage.*

# IDE / Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Temporary / generated assets
tmp/
temp/
assets/cache/
docs/
build/
dist/
*.html
